<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
 <%- include('../public/partials/header.ejs') %> 
  <p>index</p>
  <%- include('../public/partials/footer.ejs') %> 
  
  <script>
    let t1='<%=title%> '
  </script>
  <script src="/javascripts/script.js"></script>
</body>
</html>
